@charset "UTF-8";
@import url("style-cadmi.css");
@import url("https://use.typekit.net/qfx8anw.css");
@media screen {
	html {
		scroll-behavior: smooth;
	}
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;}
    100% {
        opacity: 1;}
}

/* CSS Document */
body { 
	margin: 0;
	padding: 0;
    background-color: black;
	animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
  


/*css menu mobile*/
.bg-cover {
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:#ffb4ff;
	z-index:5;
	transition: all 350ms ease;
	opacity:0;
	visibility: hidden;
	pointer-events: none;
}
.reveal {
	opacity: 1;
	display: block;
	pointer-events: auto;
	visibility: visible;
}
.hamburger-shell {
	z-index:10;
	margin:0;
	position:fixed;
	overflow:hidden;
	width:50px;
	height:100px;
	left:calc(100% - 50px);
	cursor:pointer;
	padding:0;
	background:transparent;
	border:none;
}
.top, .middle{
	position: absolute;
	width:35px;
	height:3px;
	background-color: #ffb4ff;
	transition:all 350ms ease-in-out;
	top:27px;
}
.middle {
	top:40px;
}
#menu {
	z-index:10;
	position:fixed;
	color:black;
	display:none;
	top:150px;
	margin-left:-38px;
	text-decoration: none;
	font-family:Gopher, sans-serif;
	font-weight:600;
	font-size:40px;
	text-transform: uppercase;
	padding:24px;
	width:100%;
	text-align:center;
}
#menu li {
	text-decoration: none!important;
	padding-bottom: 20px;
	margin-bottom: 12px;
	list-style: none;
	color: black;
	transition: all 100ms ease;
}
#menu li:hover {
	color:red;
}
#menu a {
	text-decoration: none;
	color: inherit;
}
.menu-open .top {
	transform: rotate(225deg);
	webkit-transform: rotate(225deg);
	top: 30px;
	background-color: black;
	height: 2px;
}
.menu-open .middle {
	transform: rotate(-225deg);
	webkit-transform: rotate(-225deg);
	top: 30px;
	background-color: black;
	height: 2px;
}
.menu-name {
	font-family:Gopher, sans-serfi;
	font-weight:600;
	color:#ffb4ff;
	font-size:13px;
	text-decoration: none;
	position: absolute;
	top: 50px;
	left: -1px;
	transition: all 350ms;
}
.menu-open .menu-name {
	top: 55px;
	color: black;
}
header {
	height:10px;
}



/*css menu*/
.menu-mobile { display:none;}
a {
	color: #ffb4ff; 
	text-decoration: none;
	transition: color 0.3s ease;
}
a:hover {
color: red;
}

.logo {
	position:fixed;
	top: 30px;
	margin-left: 30px;
	height:40px;
	width:77px;
	border:2px solid #ffb4ff;
	border-radius: 100%;
	font-family: Gopher, aktiv-grotesk-extended, sans-serif;
	font-size: 25px;
	font-weight: 800;
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;
	z-index: 1;
}
.logo:hover {
	border-color: red;
	transform: rotate(-6deg);
	transition: transform 0.3s;
	z-index: 1;
}
.menu {
	font-family: Gopher,sans-serif;
	font-size: 25px;
	font-weight: 800;
	padding:30px;
}
#works {
	position:fixed;
	right: 0px;
	z-index: 1;
}	
#works:hover {
	transform: rotate(6deg);
	transition: transform 0.3s;	
	z-index: 1;
}
#about {
	position:fixed;
	bottom: 0px;
	z-index: 1;
}	
#about:hover {
	transform: rotate(6deg);
	transition: transform 0.3s;	
	z-index: 1;
}
#contacts {
	position:fixed;
	right: 0px;
	bottom: 0px;
	z-index: 1;
}	
#contacts:hover {
	transform: rotate(-6deg);
	transition: transform 0.3s;	
	z-index: 1;
}

/*css project title*//*css project title*/
.title-mobile {
	display:none;
}
.content {
	display:block;
	overflow: hidden;
	margin-left:auto;
	margin-right:auto;
	width:70%;
	align: center;
}
.box-title {
	padding-top:90px;
}
.title {
	width:100%;
}
.tags {
	padding-top:3%;
	padding-bottom:3%;
	height:100%;
}
.small-label {
	font-family: aktiv-grotesk-extended, sans-serif;
	color:#ffb4ff;
	border:1px solid #ffb4ff;
	border-radius:100px;
	display: inline-block;
	font-size: 12px;
	font-weight:400;
	padding:12px;
	margin:3px;
	margin-bottom:1%;
}


/*css project content*/
.link-text {
	text-decoration: underline;
	transition: color 0.3s ease;
}
.link-text:hover {
	color:red;
}

p {
	font-family: aktiv-grotesk-extended, sans-serif;
	color: #ffb4ff;
	text-align:center;
	font-size:24px;
	font-weight:500;
	line-height:1.7em;
}
.img-float {
	width:48.1%;
	padding-top:4%;
}

.text-left {
	width:30%;
	margin-left:0%;
	margin-right:0%;
	padding-top:4%;
	float:left;
}
#text-left {
	text-align: left;
}
.img-right {
	padding-top:4%;
	overflow: auto;
	float:right;
	width:60%;
	margin-right:0%;
	padding-right:0%;
}

.box-quote {
	width:100%;
	height:100%;
	margin-top: 6%;
	background-color: #ffb4ff;
}
.quote {
	padding-top:4%;
	padding-bottom:3%;
	width:75%;
}
.quote-mobile {
	display:none;
}
.selectedworks {
	font-size: 18px;
	font-weight:600;
	text-align: center;
	padding-top:70px;
	padding-bottom:20px;
}
.project-detail {
	width:100%;
	padding-top:3%;
	padding-bottom:7%;
	border-top: 1px solid #ffb4ff;
}
.text-colum-detail {
	font-size:17px;
	column-count:3;
	column-gap:50px;
	text-align:left;
}
.link-details {
	text-decoration: underline;
	transition: color 0.3s ease;
}
.link-details:hover {
	color:red;
}

.prev-next {
	font-family: Gopher, sans-serif;
	font-size:60px;
	font-weight:500;
	color: #ffb4ff;
	padding-top:70px;
	padding-bottom:130px;
}

#prev {
	float:left;
}
#next {
	float:right;
}
#prev:hover {
	transform: rotate(4deg);
	transition: transform 0.3s;	 
}
#next:hover {
	transform: rotate(-4deg);
	transition: transform 0.3s;	 
}



/*css footer*/
footer {
	width:100%;
	height:95px;
	background-color: #ffb4ff;
}
.footer-size {
	display:block;
	width:70%;
	padding-top:35px;
	margin-left:auto;
	margin-right:auto;
}
.footer-text {
	font-family: Gopher, sans-serif;
	padding:0px;
	letter-spacing:0px;
	font-size:16px;
	font-weight:500;
	color: black;
	display:inline;
}
.back-to-top-link {
	display:inline-block;
	font-family: Gopher, sans-serif;
	font-weight:200;
	font-size:14px;
	line-height:1.8em;
	text-align:center;
	width:1.5rem;
	height:1.5rem;
	border-radius: 50%;
	border:1px solid black;
	transition:color 0.3 ease;
	color:black;
}
.back-to-top-wrapper {
	float:right;
	width:30px;
	padding-left:15px;
	padding-top:0px;
}
.back-to-top-link:hover {
	border: 1px solid red;	
}


/*media queries*/
@media (max-width: 1400px) {
	.text-left {
		width:100%;
		padding-top:4%;
		float:none;
	}
	#text-left {
		text-align: center;
	}
	.img-right {
		float:none;
		width:100%;
}	
}

@media (max-width: 1024px){
	#contacts {
		margin-bottom:50px;
		margin-right:-65px;
		transform: rotate(90deg);}
	#contacts:hover {
		transform: rotate(84deg);
	}
	#about {
		margin-bottom:-10px;
	}
	
	.img-float {
		float:none;
		width:100%;
}
}

@media (max-width: 720px) {
	.menu-mobile {display:block;
		z-index:5;
	}
	.menu-desktop {
		display:none;
	}
	
	.logo {
		font-size:18px;
		height:30px;
		width:50px;}
	
	/*content mobile css*/
	.content {
		width:80%;
}
	.title {
		display:none;
	}
	.title-mobile {
		color:#ffb4ff;
		display:block;
		font-family: Gopher, sans-serif;
		font-size:65px;
		font-weight: 800;
		line-height: 1.3em;
		text-align: center;
		
}
	.small-label {
		font-size: 11px;
		padding:7px;
		margin:1px;
		margin-bottom:8%;
}
	p {
		font-size:20px;
		font-weight:500;
		line-height:1.6em;
	}

	.quote {
		display:none;
	}
	.quote-mobile {
		width:75%;
		padding-top:10%;
		padding-bottom:10%;
		display:block;
	}
	
	.selectedworks {
		font-size: 16px;
	}
	.text-colum-detail {
		padding-top:3%;
		font-size:15px;
		column-count:2;
		column-gap:35px;
	}
	.prev-next {
		font-size:30px;
		font-weight:600;
		padding-top:15%;
		padding-bottom:15%;
	}	
}

@media (max-width: 480px){
	.logo {
		top:25px;
		margin-left:12px;
		font-size:18px;
		height:30px;
		width:50px;
	}
	
	/*content mobile css*/
	.content {
		width:80%;
}
	.title {
		display:none;
	}
	.title-mobile {
		color:#ffb4ff;
		display:block;
		font-family: Gopher, sans-serif;
		font-size:45px;
		font-weight: 800;
		line-height: 1.3em;
		text-align: center;
		
}
	.small-label {
		font-size: 11px;
		padding:7px;
		margin:1px;
		margin-bottom:8%;
}
	p {
		font-size:20px;
		font-weight:500;
		line-height:1.6em;
	}
	.img-float {
		float:none;
		width:100%;
}
	
	.text-left {
		width:100%;
		padding-top:4%;
		float:none;
	}
	#text-left {
		text-align: center;
	}
	.img-right {
		float:none;
		width:100%;
}
	.quote {
		display:none;
	}
	.quote-mobile {
		width:75%;
		padding-top:10%;
		padding-bottom:10%;
		display:block;
	}
	
	.selectedworks {
		margin-top:0%;
		font-size: 16px;
	}
	.text-colum-detail {
		padding-top:3%;
		font-size:15px;
		column-count:2;
		column-gap:35px;
	}
	.prev-next {
		font-size:30px;
		font-weight:600;
		padding-top:15%;
		padding-bottom:15%;
}

	
	/*footer mobile css*/
	.footer-text {
		font-size:13px;
	}
	.back-to-top-link {
		font-size:13px;
		margin-top:-3px;
		width:1.4rem;
		height:1.4rem;}
}
